#contenido{
    margin: 5% 15% 5% 15%;
}

#fotoPerfil{
    display: flex;
    flex-direction: row;
}

#foto{
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 200%;
    height: 150px;
    width: 150px;
}

#botonesFoto{
    position: relative;
}

#cambiarFoto, #eliminarFoto{
    margin-top: 30px;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

#eliminarFoto {
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: #fdeaea;  
    color: #c65b5b;
    border: 1.5px solid #c65b5b;
}

#cambiarFoto {
    margin-left: 30px;
    background-color: #eaedfd;
    color: #5b92c6;
    border: 1.5px solid #5b92c6;
}

#nombres{
    margin-left: 10px;
    position: relative;
    padding-bottom: 10px;
}

#nombres h4{
    margin-top: 0;
    position: absolute;
    top: 30px;
}

#formDatos {
    margin: 60px auto 0;
    width: 300px;
    display: flex;
    flex-direction: column;
}

input{
    height: 30px;
} 

#nombre, #usuario,#email, #fechaNacimiento{
    width: 250px;
}

textarea{
    height: 200px;
    resize: none;
    width: 250px;
}

#botonesGuardar{
    display: flex;
    flex-direction: row;
}

#cancelar, #guardar{
    height: 50px;
    width: 120px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#cancelar{
    background-color: #fdeaea;  
    color: #c65b5b;
    border: 1.5px solid #c65b5b;
}

#guardar{
    background-color: #eaedfd;
    color: #5b92c6;
    border: 1.5px solid #5b92c6;
    margin-left: 15px;
}

#eliminarFoto, #cambiarFoto, #cancelar, #guardar{
    cursor: pointer;
}



/* pseudoclases */

#cambiarFoto:hover{
    background-color: #4a7fb0;
    color: white;
}

#eliminarFoto:hover {
    background-color: #c65b5b;
    color: white;
}

#cancelar:hover{
    background-color: #c65b5b;
    color: white;
}

#guardar:hover{
    background-color: #4a7fb0;
    color: white;
}

#cancelar:active{
    background-color: #cb3333;
}

#guardar:active{
    background-color: #2a80d0;
}

#eliminarFoto:active{
    background-color: #cb3333;
}

#cambiarFoto:active{
    background-color: #2a80d0;
}